<sidebar></sidebar>
  <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Events Listing</h5>
                <ol class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="active">Events</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->
        <!-- Modal Trigger -->
        <!--start container-->
        <div class="container">
          <div class="section">
             <div class="row">
                 <div class="col s6"><p class="caption">Create/Edit all events and view on calender</p></div>
                    <div class="input-field col s5">
                    <i ng-class="{'active':focus}" class="mdi-action-search prefix"></i>
                    <input id="search" type="text" ng-model="search_events">
                    <label for="search" ng-class="{'active':focus}">Search an event by title</label>
                </div>
                <div class="col s1">
                    <a href="#" data-activates="new-event-out" class="new-event-collapse"></a>
                    <a href="#" ng-click="openForm()" data-position="bottom" data-delay="5" data-tooltip="Add new" class="tooltipped task-add btn-floating btn-large waves-effect waves-light "><i class="mdi-content-add"></i></a>
                </div>
             </div>
            
            <div class="divider"></div>
            <div class="col s12">
                <div class="row">
                <section class="plans-container" id="plans">
                 <article class="col s12 m6 l4" ng-repeat="event in events | orderBy: '-start' | filter:search_events">
                  <div class="card hoverable">
                    <div class="card-image light-blue waves-effect">
                        <div class="card-title">{{event.title}}</div>
                        <div class="price">
                            <i ng-if="event.icon" class="{{event.icon}} icon white-text small"></i>
                            <i ng-if="!event.icon" class="mdi-notification-event-note icon white-text small"></i>
                        </div>
                      <div class="price-desc">{{event.start | UTCToNow}}</div>
                    </div>
                    <div class="card-content">
                      <ul class="collection" ng-if="event.description">
                        <li class="collection-item"><p class="truncate grey-text ultra-small">{{event.description}}</p></li>
                      </ul>
                      <ul class="collection" ng-if="!event.description">
                        <li class="collection-item">
                            <p class="truncate grey-text ultra-small">Here wil come the events description or notes.</p>
                        </li>
                      </ul>
                    </div>
                    <div class="card-action center-align">                      
                      <button class="waves-effect waves-light  btn" ng-click="editEvent(event)">Edit</button>
                    </div>
                  </div>
                </article>
                </section>
                </div>
                
                
              <!--<ul id="task-card" class="collection with-header">
                  <li class="collection-header indigo">
                      <h4 class="task-card-title">Calender Events</h4>
                  </li>
                  <a href="#" data-activates="new-event-out" ng-click="openForm()" class="task-add new-event-collapse btn-floating btn-large waves-effect waves-light "><i class="mdi-content-add"></i></a>
                  <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">
                    <ul class="collection">
                        <li class="collection-item avatar email-unread" ng-repeat="event in events | orderBy: '-start' | filter:search_events" ng-click="editEvent(event)">
                            <div class="row">
                                <div class="col s3"><i class="{{event.icon}} icon blue-text small"></i></div>
                                <div class="col s9"><a href="#" data-activates="new-event-out" ng-click="editEvent(event)" class="edit-event-collapse waves-effect waves-light ">{{event.title}}</a>
                            <p class="truncate grey-text ultra-small">{{event.description}}</p>
                            <a href="#!" class="secondary-content1"><span class="">{{event.start | UTCToNow}}</span></a></div>
                            </div>
                            
                            
                            
                        </li>
                    </ul>
                </div>
                  
              </ul>-->
      
                  
             <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav">
        <ul id="new-event-out" class="side-nav events-side-navigation">
            <li class="li-hover">
                <a href="#" data-activates="new-event-out" class="new-event-close-collapse right"><i class="mdi-navigation-close"></i></a>
                <div id="right-search" class="row">
                    <div class="col s12 m12 l12">
                        <div>
                            <h4 class="header2 center" ng-bind="newEvent.edate | date:'MMM, D dddd'"></h4>
                                <div class="m-b-20 center">
                                    <i class="mdi-image-timer"></i>
                                    <label for="edate" style="cursor:pointer"> Change Date</label>
                                    <input style="display:none;" type="date" id="edate" class="datepicker" ng-model="newEvent.today" />
                                </div>
                            <div class="row">
                                <form class="col s12" name="event" ng-submit="saveEvent()">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i ng-class="{'active':focus}" class="mdi-editor-mode-edit prefix"></i>
                                            <input id="title" type="text" focus="{{focus}}" class="validate" name="title" ng-model="newEvent.title">
                                            <label for="title" ng-class="{'active':focus}">Title</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="input-field col s6">
                                        <i  class="mdi-image-timer prefix"></i>
                                        <label for="input_starttime">Start Time</label>
                                        <input id="input_starttime" class="timepicker" type="text" ng-model="newEvent.starttime">
                                      </div>
                                      <div class="input-field col s6">
                                        <i  class="mdi-image-timer prefix"></i>
                                        <label for="input_endtime">End Time</label>
                                        <input id="input_endtime" class="timepicker" type="text" ng-model="newEvent.endtime">
                                      </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="mdi-editor-mode-edit prefix"></i>
                                            <textarea id="description" name="description" ng-model="newEvent.description" class="materialize-textarea validate" length="120"></textarea>
                                            <label for="description">Description</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s10">
                                            <i class="mdi-editor-format-color-fill prefix"></i>
                                            <input color-picker type="text" id="input_color" ng-model="newEvent.className" readonly="true" />
                                            <label for="input_color" >Color</label>
                                        </div>
                                        <div class="input-field col s1">
                                           <label class="btn-floating" ng-class="newEvent.className"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s10">
                                          <i class="mdi-image-photo prefix"></i>
                                            <select class="" ng-model="newEvent.icon" material-select watch ng-change="changeIcon()">
                                                <option value="" disabled selected>Select Event Icon</option>
                                                <option value="mdi-action-redeem" class="circle">BirthDay</option>
                                                <option value="mdi-action-settings-phone" class="circle">Do call</option>
                                                <option value="mdi-action-shopping-basket" class="circle">Go Market</option>
                                                <option value="mdi-action-theaters" class="circle">Movie</option>                                                
                                                <option value="mdi-action-info"  class="circle">Info</option>
                                                <option value="mdi-alert-warning" class="circle">Warning</option>
                                                <option value="mdi-action-event" class="circle">Event</option>
                                                
                                            </select>
                                        </div>
                                        <div class="input-field col s1">
                                           <label class="btn-floating" ng-class="newEvent.className">
                                            <i class="mdi-action-theaters" ng-if="newEvent.icon ==='mdi-action-theaters'"></i>
                                            <i class="mdi-action-shopping-basket" ng-if="newEvent.icon ==='mdi-action-shopping-basket'"></i>
                                            <i class="mdi-action-settings-phone" ng-if="newEvent.icon ==='mdi-action-settings-phone'"></i>
                                            <i class="mdi-action-redeem" ng-if="newEvent.icon ==='mdi-action-redeem'"></i>
                                            <i class="mdi-action-info" ng-if="newEvent.icon ==='mdi-action-info'"></i>
                                            <i class="mdi-alert-warning" ng-if="newEvent.icon ==='mdi-alert-warning'"></i>
                                            <i class="mdi-action-event" ng-if="newEvent.icon ==='mdi-action-event'"></i>
                                          </label>
                                        </div>
                                    </div>
                                    
                                    <!--<div class="row">
                                        <div class="input-field col s10">
                                          <i class="mdi-image-colorize prefix"></i>
                                            <select ng-model="newEvent.className" material-select watch>
                                                <option value="" disabled selected>Select Event Color</option>
                                                <option value="yellow"  class="light-green">Yellow</option>
                                                <option value="green" class="circle">Green</option>
                                                <option value="red" class="circle">Red</option>
                                            </select>
                                            
                                        </div>
                                        <div class="input-field col s1">
                                          <label style="background-color: #676A6B;" class="btn-floating" ng-if="!newEvent.className"></label>
                                          <label class="btn-floating red darken-4" ng-if="newEvent.className ==='red'"></label>
                                          <label class="btn-floating yellow darken-4" ng-if="newEvent.className ==='yellow'"></label>
                                           <label class="btn-floating green darken-4" ng-if="newEvent.className ==='green'"></label>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="input-field col s4">
                                            <input type='checkbox' id='event-allday' ng-model="newEvent.allDay" />
                                            <label for='event-allday'>allDay?</label>
                                        </div>
                                        <div class="col s8">
                                                <button class="btn indigo waves-effect waves-light"  type="submit" name="action">Save
                                                    <i class="mdi-content-send right"></i>
                                                </button>
                                                <button class="btn waves-effect waves-light" type="button" ng-click="deleteEvent()">
                                                    <i class="mdi-action-delete"></i>
                                                </button>
                                            </div>
                                    </div>
                                    <div class="row small-group" ng-if="newEvent.createdAt">
                                        <div class="col s8 offset-s1"><span>{{newEvent.User.name}} created @{{newEvent.createdAt | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                                        <div class="col s8 offset-s1"><span>{{newEvent.User.name}} updated @{{newEvent.updatedAt | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                                    </div>
                                    <div class="row small-group" ng-if="!newEvent.createdAt">
                                        <div class="col s8 offset-s1"><span>{{userInfo.user}} createdAt @{{userInfo.createdDate | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
    <!-- LEFT RIGHT SIDEBAR NAV-->
          </div>
          </div>
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>
      <!--<script type="text/javascript" src="assets/js/perfect-scrollbar/perfect-scrollbar.min.js"></script>-->
      <script>
          
        $(document).ready(function(){
          $('#edate').pickadate({
            container: 'body',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            onClose: function(){
              $(document.activeElement).blur()
            }
          });
          
         $('#input_starttime').pickatime({
              twelvehour: true,
              container: 'body'
          });
          $('#input_endtime').pickatime({
              twelvehour: true,
              container: 'body'
          });
        });
      </script>