
<!-- START HEADER -->
  <header id="header" class="page-topbar" ng-show="nav.isLoggedIn()">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color light-gray ">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li>
                          <h1 class="logo-wrapper">
                            <a href="/" style="height:50px;width:50px">
                                <i class="mdi-notification-event-note"></i>
                            </a> 
                          </h1></li>
                          <li><a href="/">Conference Booking Calendar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
<!-- END HEADER -->
