<!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav" ng-show="side.isLoggedIn()">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="assets/images/profile.png" alt="" class="circle responsive-img valign profile-image">
                    
                </div>
                <div class="col col s8 m8 l8">
                    
                    <!-- Dropdown Trigger -->


<!-- Dropdown Structure -->
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li ng-show="side.isAdmin()"><a ui-sref="admin"><i class="mdi-action-face-unlock"></i> Profile</a>
                        </li>
                        <li ng-hide="side.isLoggedIn()" ui-sref-active="active"><a ui-sref="login"><i class="mdi-social-person-outline prefix"></i> Login</a></li>
                        <li ng-show="side.isLoggedIn()"><a ui-sref="settings"><i class="mdi-action-settings"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-show="side.isLoggedIn()"><a ui-sref="logout"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                        </li>
                    </ul>
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" dropdown data-hover="false" data-activates="profile-dropdown">Muthu<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    <!--<ul id="profile-dropdown" class="dropdown-content">
                        <li ng-show="side.isAdmin()"><a ui-sref="admin"><i class="mdi-action-face-unlock"></i> Profile</a>
                        </li>
                        <li ng-hide="side.isLoggedIn()" ui-sref-active="active"><a ui-sref="login"><i class="mdi-social-person-outline prefix"></i> Login</a></li>
                        <li ng-show="side.isLoggedIn()"><a ui-sref="settings"><i class="mdi-action-settings"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-show="side.isLoggedIn()"><a ui-sref="logout"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                        </li>
                    </ul>
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Muthu<i class="mdi-navigation-arrow-drop-down right"></i></a>-->
                    <p ng-show="side.isLoggedIn()" class="user-roal">Hello {{ side.getCurrentUser().name }}</p>
                     
                </div>
            </div>
            </li>
            <li class="bold" ng-class="{active:$state.current.name === 'main'}"><a ui-sref="main" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
            </li>
           <li class="bold" ng-class="{active:$state.current.name === 'dragdrop'}"><a ui-sref="dragdrop" class="waves-effect waves-cyan"><i class="mdi-action-open-with"></i> Drag & Drop</a>
            </li>     
                 
        </ul>
        <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
      <!-- END LEFT SIDEBAR NAV-->